<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>사진추가</title>
</head>
<body>
    <div style="margin: 20px;">
        <h3>사진추가</h3>
        <form th:action="@{/clubgallery/insert}" method="post" enctype="multipart/form-data">
        	<input type="file" name="file" multiple/><br /><br />
        	사진제목 <input type="text" name="gName" /><br /><br />
        	사진설명 <textarea rows="10" style="width:400px;" name="gDesc"></textarea><br /><br />
       
	        <input type="submit" value="작성" />
        </form>
    </div>
</body>
</html>