<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>갤러리</title>
</head>
<body>
    <div style="padding: 20px;">
        <h3>갤러리</h3>
        <table>
        	<tr>
        		<th>번호</th>
        		<th>썸네일</th>
        	 	<th>제목</th>
        	 	<th>설명</th>
        	 	<th>등록일</th>
        	</tr>
        	
        	<tr th:each="tmp : ${list}">
        		<td th:text="${tmp.cgNo}"></td>
        		<td>
        			<a th:href="@{/clubgallery/select(cgNo=${tmp.cgNo})}">
	        			<img th:src="@{/clubgallery/image(cgNo=${tmp.cgNo},idx=0)}" style="width:200px;"/>
	        		</a>
        		</td>
        		<td ><a th:href="@{/clubgallery/select(cgNo=${tmp.cgNo})}" th:text="${tmp.cgName}"></a></td>
        		<td th:text="${tmp.cgDesc}"></td>
        		<td th:text="${tmp.cgRegdate}"></td>
        	</tr>
        </table>
        
        <a th:href="@{/clubgallery/insert}">갤러리 생성</a><br />
        
        <th:block th:each="i : ${#numbers.sequence(1, pages)}"><a th:href="@{/clubboard/selectlist(page=${i}, text=${param.text})}" th:text="${i}"></a></th:block>
        
        <br />
        <br />
        <hr />
        <a th:href="@{/clubboard/selectlist}">게시판</a>
    </div>
</body>
</html>