<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>갤러리</title>
</head>
<body>
    <div style="padding: 20px;">
        <h3 th:text="${gallery.gName}"></h3>
       	
       	<table border="1">
	       	<tr>
	       		<th>이미지번호</th>
	       		<th>이미지명</th>
	       		<th>idx</th>
	       		<th>이미지</th>
	       	</tr>
	       	
	       	<tr th:each="tmp, idx : ${imagelist}">
	       		<td th:text="${tmp.giImgcode}"></td>
	       		<td th:text="${tmp.giImagename}"></td>
	       		<td th:text="${idx.count}"></td>
	       		<td><img th:src="@{/clubgallery/image(gNo=${tmp.clubgallery.gNo},idx=${idx.index})}" style="width:200px;"/></td>
	       	</tr>
       	</table>
       	
        <hr />
        <form th:action="@{/clubgallery/delete}" method="post" style="display:inline-block;">
        <input type="hidden" name="gNo" th:value="${gallery.gNo}" readonly/>
        	<input type="submit" value="삭제" />
        </form>
        
        <form th:action="@{/clubgallery/update}" method="get" style="display:inline-block;">
        <input type="hidden" name="gNo" th:value="${gallery.gNo}" readonly/>
        	<input type="submit" value="수정" />
        </form>
        
        <br />
		<a th:href="@{/clubgallery/selectlist}">갤러리 목록</a>
    </div>
</body>
</html>