<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>갤러리 편집</title>
</head>
<body>
    <div style="padding: 20px;">
        <h3>갤러리 편집</h3>
        	<form th:action="@{/clubgallery/updategallerytext}" method="post">
        		<input type="hidden" name="cgNo" th:value="${gallery.cgNo}" />
	       		갤러리명 <input type="text" name="cgName" th:value="${gallery.cgName}" /><br /><br />
	        	<textarea rows="10" style="width:400px;" name="cgDesc" th:text="${gallery.cgDesc}"></textarea><br />
	        	<input type="submit" value="수정" />
	       	</form>
	       	<br />
       		<hr />
       
	        <table border="1">
		       	<tr>
		       		<th>이미지번호</th>
		       		<th>이미지명</th>
		       		<th>idx</th>
		       		<th>이미지</th>
		       		<th>선택</th>
		       	</tr>
		       	
		       	<tr th:each="tmp, idx : ${imagelist}">
		       		<td th:text="${tmp.giImgcode}"></td>
		       		<td th:text="${tmp.giImagename}"></td>
		       		<td th:text="${idx.count}"></td>
		       		<td>
		       			<img th:src="@{/clubgallery/image(cgNo=${tmp.clubgallery.cgNo},idx=${idx.index})}" style="width:200px;"/>
		       		</td>
		       		<td>
			       		 <form th:action="@{/clubgallery/deletegimage}" method="post">
			       			<input type="hidden" name="giImgcode" th:value="${tmp.giImgcode}" />
			       			<input type="hidden" name="cgNo" th:value="${gallery.cgNo}" />
		    				<input type="submit" value="삭제" />
	   					</form>
		       		</td>
		       	</tr>
	       	</table>
	       	
	       	<hr />
	       	
	       	<form th:action="@{/clubgallery/insertimages}" method="post" enctype="multipart/form-data">
	       		<p>사진추가</p>
	        	<input type="file" name="file" multiple/><br /><br />
	       		<input type="hidden" name="cgNo" th:value="${gallery.cgNo}" />
		        <input type="submit" value="추가" />
	        </form>
       	<br /><br />
       	
       	<a th:href=@{/clubgallery/select(cgNo=${gallery.cgNo})}>갤러리 화면으로</a>
    </div>
</body>
</html>