<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>새앨범생성</title>
</head>
<body>
    <div style="margin: 20px;">
        <h3>새앨범생성</h3>
        <form th:action="@{/clubalbum/insert}" method="post">
	        제목 <input type="text" name="caname" /><br />
	        
	        <input type="submit" value="생성" />
        </form>
    </div>
</body>
</html>