<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>클럽</title>
</head>
<body>
    <div style="padding: 20px">
        <h3>클럽 상세</h3>
        <hr/>

        번호 : <p th:text="${club.no}" style="margin-left:40px; display:inline-block"></p><br/>
    	이름 : <p th:text="${board.cName}" style="margin-left:40px; display:inline-block"></p><br/>
    	설명 : <p th:text="${board.content}" style="margin-left:40px; display:inline-block"></p><br/>
    	카테고리 : <p th:text="${board.writer}" style="margin-left: 25px; display:inline-block"></p><br/>
    	지역 :<p th:text="${board.hit}" style="margin-left: 30px; display:inline-block"></p><br/> 	
		등록일 : <p th:text="${board.regdate}" style="margin-left:25px; display:inline-block" ></p><br/>
		이미지 : <img th:src="@{/board/image(no=${board.no})}" style="width: 100px;height: 100px; margin-left: 20px;"/>
    	<hr />
        
        </form>
    </div>
    
</body>
</html>