<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>클럽</title>
</head>
<body>
    <div style="padding: 20px">
        <h3>클럽 상세</h3>
        <hr/>

        <!-- entity의 값을 보고 name값 맞추기 -->
        <form th:action="@{/board/insert}" method="post">
            이름 : <td>배사모</td><br/>
            내용 : <td>배구동호회</td>
    
            <br/>
            <button value="btn">찜</button>
        
        </form>
    </div>
    
</body>
</html>