<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>갤러리 선택</title>
</head>
<body>
    <div style="padding: 20px;">
        <h3>갤러리 선택</h3>
        <table>
        	<tr>
        		<th>번호</th>
        		<th>썸네일</th>
        	 	<th>제목</th>
        	 	<th>설명</th>
        	 	<th>등록일</th>
        	</tr>
        	
        	<tr th:each="tmp : ${list}">
        		<td th:text="${tmp.cgNo}"></td>
        		<td>
        			<a th:href="@{/clubalbum/imagelist(cgNo=${tmp.cgNo})}">
	        			<img th:src="@{/clubgallery/image(cgNo=${tmp.cgNo},idx=0)}" style="width:200px;"/>
	        		</a>
        		</td>
        		<td ><a th:href="@{/clubalbum/imagelist(cgNo=${tmp.cgNo}, caNo=${caNo})}" th:text="${tmp.cgName}"></a></td>
        		<td th:text="${tmp.cgDesc}"></td>
        		<td th:text="${tmp.cgRegdate}"></td>
        	</tr>
        </table>
        
        <br /><br />

        <form th:action="@{/clubgallery/selectlist}" method="get">
        	<input type="hidden" name="page" th:value="1" />
        	<input type="text" name="text" placeholder="갤러리명" />
        	<input type="submit" value="검색" />
        </form>
    
    </div>
</body>
</html>