<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>글쓰기</title>
</head>
<body>
    <div style="margin: 20px;">
        <h3>글쓰기</h3>
        <form th:action="@{/clubboard/insert}" method="post">
        	<input type="hidden" name="cbNoticecheck" value="n" />
        	<input type="hidden" name="cbDepth" value=0 />
	        제목 <input type="text" name="cbTitle" /><br />
	        내용 <textarea rows="10" style="width:400px;" name="cbContent" ></textarea><br />
	        <input type="file" name="file" />
	        <input type="submit" value="작성" />
        </form>
    </div>
</body>
</html>