<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>글상세</title>
</head>
<body>
    <div style="padding: 20px;">
        <h3>글상세</h3>
        <form th:action="@{/clubboard/update}" method="get">
        		번호 <p th:text="${clubboard.cbno}"></p>
        		제목 <p th:text="${clubboard.cbtitle}"></p>
        		내용 <p th:text="${clubboard.cbcontent}"></p>
        		이미지 <p th:if="${cbimage} != null" th:text="${cbimage.cbimagename}"></p>
        		
        		<img th:src="@{/clubboard/image(cbno=${clubboard.cbno})}" style="width:200px;" th:if="${cbimage} != null" />
        		
        </form>
        
        <br />
        
        <table border="1">
        	<tr>
        		<th>댓글</th>
        		<th>댓글작성일</th>
        		<th>관리</th>
        	</tr>
        	
        	<tr th:each="tmp : ${replylist}">
        		<td th:text="${tmp.recontent}"></td>
        		<td th:text="${tmp.reregdate}"></td>
        		<td>
        			<form th:action="@{/clubboard/deletereply}" method="post">
        				<input type="hidden" name="renumber" th:value="${tmp.renumber}" />
        				<input type="hidden" name="clubboard" th:value=${clubboard.cbno} />
        				<input type="submit" th:value="삭제" />
        			</form>
        		</td>
        	</tr>
        </table>
        <br />
        
        <form th:action="@{/clubboard/insertreply}" method="post">
        	<input type="hidden" name="cbno" th:value=${clubboard.cbno} />
        	<input type="text" name="recontent" />
        	<input type="submit" value="댓글작성" />
        </form>
        
        <br />
        <hr />
        <form th:action="@{/clubboard/update}" method="get" style="display:inline-block;">
			<input type="submit" value="수정" />
			<input type="hidden" name="cbno" th:value=${clubboard.cbno} />
		</form>
        
        <form th:action="@{/clubboard/delete}" method="post" style="display:inline-block;">
			<input type="submit" value="삭제" onclick="if(!confirm('삭제하시겠습니까?')){return false;}"/>
			<input type="hidden" name="cbno" th:value=${clubboard.cbno} />
		</form>
		<br />
		
		<div th:if="${prev} != null" style="display:inline-block;">
			<form th:action="@{/clubboard/prev}" method="post" style="display:inline-block;">
				<input type="submit" value="이전글" />
				<input type="hidden" name="cbno" th:value=${clubboard.cbno} />
			</form>
		</div>
		
		<a th:href="@{/clubboard/selectlist}">글목록</a>
		
		<div th:if="${next} != null" style="display:inline-block;">
			<form th:action="@{/clubboard/next}" method="post" style="display:inline-block;">
				<input type="submit" value="다음글" />
				<input type="hidden" name="cbno" th:value=${clubboard.cbno} />
			</form>
		</div>
    </div>
</body>
</html>